body {
  background-position: bottom;
  background-size: 100%;
  background-image: url(city2.4k.jpg), url(city1.4k.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  font-family: Garamond;
  font-weight: bold;
}

p {
  font-family: Garamond;
  font-size: 24px;
  font-weight: 550;
  color: antiquewhite;
  background-color: rgba(5, 28, 28, 0.39);
  margin-left: 245px;
  border-radius: 7px;
}

h1 {
  text-align: center;
  font-size: 56px;
  font-family: Garamond;
  margin-left: 175px;
}

h2 {
  font-size: 47px;
  font-family: Garamond;
  margin-left: 245px;
  color: antiquewhite;
}

h3 {
  font-size: 36px;
  font-family: Garamond;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.37);
  border-radius: 15px;
  margin-left: 230px;
}

.flaganim {
  align-content: center;
  margin-left: 20px;
  box-shadow: 3px 3px rgba(249, 12, 12, 0.041), 2px 2px rgba(234, 0, 0, 0.045),
    2px 2px rgba(248, 11, 11, 0.012);
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.103);
}

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1111116b;
  overflow-x: hidden;
  padding-top: 20px;
}

a:link {
  color: rgb(71, 93, 179);
  text-decoration: none;
}

a:visited {
  color: rgb(77, 99, 186);
}

a:hover {
  color: rgb(58, 140, 159);
  font-weight: bold;
  text-decoration: underline rgb(43, 160, 171);
}

a:active {
  background-color: rgb(12, 91, 101);
  font-style: none;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #29a7e1;
  display: block;
  font-size: 40px;
}

.CitiesTable {
  margin-left: 245px;
  background-color: rgba(255, 255, 255, 0.658);
  text-align: center;
  width: 70%;
  margin-bottom: 100px;
  border-radius: 10px;
  float: right;
  margin-right: 110px;
  font-size: 22px;
}

th {
  height: 40px;
  color: antiquewhite;
  background-color: rgba(164, 33, 33, 0.634);
  font-size: 28px;
}
tr:hover {
  background-color: rgba(243, 199, 199, 0.212);
  color: rgb(0, 0, 0);
}
tr:nth-child(even) {
  background-color: rgba(243, 199, 199, 0.212);
  color: rgb(0, 0, 0);
}

tr {
  color: rgba(164, 33, 33, 0.634);
}

a:link {
  color: rgb(18, 198, 211);
  text-decoration: none;
  margin-right: 0px;
}

a:visited {
  color: rgb(18, 198, 211);
}

a:hover {
  color: rgb(58, 140, 159);
  font-weight: bold;
  text-decoration: underline rgb(43, 160, 171);
}

a:active {
  background-color: rgb(12, 91, 101);
  font-style: none;
}

.email {
  padding-left: 16px;
  font-size: 21px;
}

footer {
  font-size: 20px;
  background: #29a7e1;
  background-repeat: no-repeat;
  font-family: Garamond;
  font-weight: bold;
}

.box {
  float: right;
  width: 1480px;
  margin-top: 4px;
  padding: 10px;
  background: rgba(250, 235, 215, 0.719);
  border: 2px solid #333;
  border-color: rgba(11, 126, 146, 0.452);
  border-radius: 8px;
}

.email {
  text-align: center;
  margin-left: 85px;
}

.box2 {
  width: 800px;
  margin-left: 240px;
  margin-top: 7px;
  padding: 15px;
  background: rgba(250, 235, 215, 0.719);
  border: 2px solid #333;
  border-color: rgba(11, 126, 146, 0.452);
  border-radius: 8px;
  text-align: center;
  float: ;
}

.Air-Wiki {
  float: right;
  padding-right: 20px;
}

.hotel {
  float: right;
  padding-right: 20px;
}

.resume {
  float: right;
  padding-right: 20px;
}

.allstar {
  float: right;
  padding-right: 20px;
}
